[Unit]
Description=Porter DB Tunnel (farm-db)
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
Environment=HOME=/home/starfarm
WorkingDirectory=/home/starfarm
ExecStart=/bin/bash -lc 'porter datastore connect farm-db'
Restart=always
RestartSec=5
User=starfarm

[Install]
WantedBy=multi-user.target



